html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#applicationDiv {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#mapDiv {
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
    order: 1;
    z-index: -1;
}


/******** bottom Slider with years and play button ********/

#bottomDiv {
    position: relative;
    order: 2;
    display: flex;
    flex-direction: column;
    flex: 0 0 70px;
    height: 130px;
    left: 0;
    right: 0;
    padding: 0 40 10 40;
    background-color: white;
}

#title.slider-title {
    margin-top: 20px;
    margin-bottom: 0 !important;
    margin-left: 40px;
}

#sliderDiv {
    display: flex;
    flex: 0 0 70px;
    justify-content: space-around;
    align-items: baseline;
    padding: 0 40 20 0;
    bottom: 15;
    left: 0;
    right: 0;
}

#yearSlider {
    flex: 0 1 90%;
}

#playButton {
    flex: 0 0 100px;
    margin: 30px 0;
}

.toggle-button {
    display: flex;
}

.toggle-button.toggled .toggle-button-icon {
    color: #cc1b1b;
}

.toggle-button .toggle-button-icon {
    color: #1bcc1b;
}

.toggle-button> :nth-child(2) {
    display: none;
}

.toggle-button.toggled> :nth-child(1) {
    display: none;
}

.toggle-button.toggled> :nth-child(2) {
    display: block;
}


/******** Floating div with About Modal, peatCheckbox, rangeSlider and legend ********/

#leftDiv {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75%;
    width: 240px;
    top: 15;
    left: 15;
    padding: 10 20 25 20;
    background-color: white;
}

#modal-btn {
    height: 40px;
    width: 100%;
    margin-top: 10px;
    background-color: #0079c1;
    border: 1px solid #124d77;
    color: white;
    font-weight: bold;
    padding: 5 0 5 0;
}

#modal-btn:hover {
    background-color: #0061a7;
}

.modal {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

.modal-content {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    width: 75%;
}

#modal-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.close-btn {
    float: right;
    color: gray;
    font-size: 30px;
    font-weight: bold;
}

.close-btn:hover {
    color: black;
}

#huttonLogo {
    padding-top: 20px;
}

#peatLabel {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

#peatInput {
    opacity: 0;
    width: 0;
    height: 0;
}

.peatToggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 17px;
}

.peatToggle:before {
    position: absolute;
    content: '';
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.peatToggle {
    background-color: #0079c1;
}

input:focus+.peatToggle {
    box-shadow: 0 0 1px #0079c1;
}

input:checked+.peatToggle:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

#title {
    font-weight: bold;
}

#rangeSlider {
    flex: 0 1 auto;
    width: fit-content;
    padding: 10;
    width: 10%;
}

#rangeSlider.esri-slider__content {
    margin: 0 !important;
}

.esri-slider--vertical .esri-slider__tick-label {
    transform: translate(-30%) !important;
    width: 300px;
    padding-left: 80px;
}

#forestLegendImg {
    display: block;
    width: 25px;
    height: 25px;
    background-color: rgba(120, 162, 46, 1);
    padding-left: 4px;
}


/******** Floating div with ribbon style graphs for each FMA ********/


/*#rightDiv {
    position: fixed;
    display: flex;
    top: 20;
    right: 20;
    max-width: 25%;
    height: auto;
    background-color: white;
    padding: 10 5; 
}

#rightDivImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}*/